<main id="main">
  <div id="text-wrap">
    <div id="flash-message">
      <%= flash[:notice] %>
    </div>
    <p><span>Title:</span> <%= @book.title %></p>
    <p><span>Body:</span> <%= @book.body %></p>
  </div>
  <p><%= link_to 'Edit', edit_book_path(@book.id) %> |
  <%= link_to 'Back', "/books" %></p>
</main>